@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-color: black;
    }

    section#login {
        width: 80vw;
        height: 280px;
    }

    div#image {
        width: 30%;
        height: 100%;
    }
    div#form {
        float: right;
        width: 70%;
        transform: translateY(-89%);
    }
}